<section id="home">
    <div class="home_title">
        <fa-icon [icon]="faBug"></fa-icon>
        <fa-icon [icon]="faBinoculars"></fa-icon>
        <h1>BugTracker</h1>
        <h2>by</h2>
        <h2>Daniel Dereniowski</h2>
    </div>
    <div class="home container">
        <h2>Create new bug track: </h2>
        <div class="bug_add">
            <form class="bug_add_form">
                <div class="form_section">
                    <label for="bug_priority">Priority</label>
                    <select id="bug_priority">
                        <option style="color:green;" value="Low">Low</option>
                        <option style="color:orange;" value="Medium">Medium</option>
                        <option style="color:red;" value="High">High</option>
                    </select>
                </div>
                <div class="form_section">
                    <label for="bug_assign">Assignment</label>
                    <input type="text" id="bug_assign" placeholder="Assign to person" />
                </div>
                <div class="form_section">
                    <label for="bug_description">Bug description</label>
                    <input type="text" id="bug_description" placeholder="Describe the bug" />
                </div>
                <div class="form_buttons">
                    <button type="submit">Create</button>
                    <button type="reset">Clear</button>
                </div>
            </form>
        </div>
        <div class="bug_list">

        </div>
    </div>
</section>