.container{
    margin: 0 auto;
    max-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

#home .home_title{
    margin: 0 auto;
    text-align: center;
    font-size: calc(0.8rem + 2vw);
    padding: 0.5em 1.5em;
    width: 70vw;
    background: var(--text-gradient);
    background-clip: text;
    color: transparent;
    background-size: 150%;
    animation: gradient-animation 8s infinite alternate;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); 
}

#home .home_title h1{
    letter-spacing: 0.1em;
    font-style: italic;   
}

#home .home_title h2{
    font-size: calc(0.8rem + 0.6vw);
    color: rgba(0, 0, 0, 0.6);
}

#home .home_title fa-icon{
    color: rgba(0, 0, 0, 0.6);
    padding: 0.5em;
}

#home .home h2{
    font-size: calc(0.7rem + 2vw);
    text-align: center;
}

#home .menu{
    height: 4vh;
    margin: 0 auto;
    padding: 0 30vw 0 30vw;
    width: 100%;
}

#home .menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: calc(0.6rem + 0.6vw);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

#home .menu ul li{
    transition: 0.3s text-shadow;
    padding: 0.3em;
}

#home .menu ul li:hover{
    text-shadow: 3px 3px 0 white;
}

#home .container{
    width: calc(10vw + 60vw);
    height: 50vh;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.4);
    color:white;
    padding: 3em;
    flex-direction: column;
    box-shadow:
        0 6.2px 5.5px -1px rgba(0, 0, 0, 0.056),
        0 15.7px 13.9px -1px rgba(0, 0, 0, 0.08),
        0 32.1px 28.4px -1px rgba(0, 0, 0, 0.1),
        0 66.1px 58.4px -1px rgba(0, 0, 0, 0.124),
        0 181px 160px -1px rgba(0, 0, 0, 0.18);
    position: relative;
    overflow-y: scroll;
}

#home .container::-webkit-scrollbar{
    display: none;
}

#home .add_form input, select{
    padding: 3px;
    border: 2px solid black;
    box-shadow:
        0 4.2px 4.3px rgba(0, 0, 0, 0.038),
        0 11.6px 11.8px rgba(0, 0, 0, 0.055),
        0 28px 28.3px rgba(0, 0, 0, 0.072),
        0 93px 94px rgba(0, 0, 0, 0.11);
}

#home .form_section{
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
}

#home .bug_add,
#home .project_add{
    font-size: calc(0.7rem + 0.7vw);
    width: 50%;
}

#home .form_buttons{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 70vw;
    left: 0;
    z-index: 2;
}

#home button{
    font-size: calc(0.6rem + 0.7vw);
    padding: 0.2em;
    text-transform: uppercase;
    margin: 1em;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.2s;
    background: none;
    border: none;
}

#home button:hover{
    text-shadow: 2px 2px 0 white;
}

#bug_priority,
#bug_assign,
#bug_description{
    font-size: calc(0.7rem + 0.4vw);
}

#home .project_add{
    display: none;
}

#home .bug_list{
    display: none;
}

#home .bug_about{
    display: none;
}

@media only screen and (max-width: 600px){
    #home .bug_add,
    #home .project_add{
        width: 90%;
    }
}

/*
=========
Keyframes
=========
*/
@keyframes gradient-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
  }
/*
=========
=========
*/