.container{
    margin: 0 auto;
    max-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1
}

#home .home_title{
    margin: 0 auto;
    text-align: center;
    font-size: calc(0.8rem + 2vw);
    padding: 0.5em 1.5em;
    width: 70vw;
    background: var(--text-gradient);
    background-clip: text;
    color: transparent;
    background-size: 150%;
    animation: gradient-animation 8s infinite alternate;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); 
}

#home .home_title h1{
    letter-spacing: 0.1em;
    font-style: italic;   
}

#home .home_title h2{
    font-size: calc(0.8rem + 0.6vw);
    color: rgba(0, 0, 0, 0.6);
}

#home .home_title fa-icon{
    color: rgba(0, 0, 0, 0.6);
    padding: 0.5em;
}

#home .home h2{
    font-size: calc(0.7rem + 2vw);
    text-align: center;
}

#home .menu{
    height: 4vh;
    margin: 0 auto;
    width: 50vw;
}

#home .menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: calc(0.6rem + 0.6vw);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

#home .menu ul li{
    transition: 0.3s text-shadow;
    padding: 0.3em;
}

#home .menu ul li:hover{
    text-shadow: 3px 3px 0 white;
}

#home .container{
    width: calc(10vw + 40vw);
    color:white;
    padding: 3em;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
}

#home .container::-webkit-scrollbar{
    display: none;
}

#home .add_form input, select{
    padding: 3px;
    border: 2px solid black;
}

#home .form_section{
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
}

#home .bug_add,
#home .project_add{
    font-size: calc(0.7rem + 0.7vw);
    width: 70%;
}

#home .form_buttons{
    height: 7vh;
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
}

#home button{
    font-size: calc(0.6rem + 0.7vw);
    padding: 0.2em;
    text-transform: uppercase;
    margin: 0 1em 0 1em;
    cursor: pointer;
    letter-spacing: 1px;
    transition: 0.2s;
    background: none;
    border: none;
}

#home button:hover{
    text-shadow: 2px 2px 0 white;
}

#bug_priority,
#bug_assign,
#bug_description,
#project_member{
    font-size: calc(0.7rem + 0.4vw);
}

#project_member{
    width: 10vw;
}

#home .project_add{
    display: none;
}

#home .bug_list{
    display: none;
}

#home .bug_about{
    display: none;
}

@media only screen and (max-width: 600px){
    #home .bug_add,
    #home .project_add{
        width: 100%;
    }

    #home .menu{
        width: 70vw;
    }

    #home .container{
        width: 60vw;
    }

}

/*
=========
Keyframes
=========
*/
@keyframes gradient-animation {
    0% {background-position: left}
    50% {background-position: right}
    100% {background-position: left}
  }
/*
=========
=========
*/